#main {
    width: 700px;
    height: 500px;
    margin: 200px auto;
    background-color: #438BD3;
}

h1 {
    text-align: center;
    color: #ffffff;
}

p {
    color: #ffffff;
    text-align: center;
}

.fields {
    border-radius: 5px;
    border: none;
    width: 450px;
    margin: 0 auto 30px auto;
    display: block;
    height: 50px;
    padding-left: 10px;
    background-color: #ffffff;
}

.button {
    width: 225px;
    cursor: pointer;
    height: 50px;
    margin: 50px auto;
    display: block;
    background-color: #25AAD3;
    border: none;
    color: #ffffff;
    font-size: 16px;
    text-transform: uppercase;
}

.validate-name {
    background: url(https://www.formstack.com/forms/images/user/484005/image_iconperson.png) right no-repeat #ffffff;
}

.validate-email {
    background:url(https://www.formstack.com/forms/images/user/484005/image_iconemail.png) right no-repeat #ffffff;
}

.validate-phone {
    background: url(https://www.formstack.com/forms/images/user/484005/image_iconphone.png) right no-repeat #ffffff;
}

.button:active {
    border-radius: 5px;
    border: 2px solid #ddd;
}

.red_field {
    border: 2px solid red;
}

.formInputError {
    border: 2px solid red;
}


